.edit-profile {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: #141414;
  z-index: 2;
}

.ep-nav-container {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.ep-nav {
  width: 90%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

  h1,
  h2 {
    margin: 0;
  }
}

.ep-nav-left,
.ep-nav-right {
  display: flex;
  align-items: center;
  gap: 25px;
}

.ep-nav-icon {
  width: 30px;
  cursor: pointer;
}

.ep-nav-img {
  width: 80px;
  overflow: hidden;
  border-radius: 6px;
}

.ep-options-container {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.ep-options {
  width: 90%;
  margin-top: 50px;
}

.ep-options-main {
  display: flex;
  gap: 20px;
}

.ep-options-img {
  width: 140px;
  overflow: hidden;
  border-radius: 6px;
  cursor: pointer;
}
